html {
    font-size: 62.5%;
}
body {
    background-size: contain;
    height: 100%;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h3{
  text-align: center;
  width: 100%;
  background-color: gray;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    padding: 20px 0;
    background: #f12d2d; /* Old browsers */
    
    background: linear-gradient(to right, #00ff73 0%,#ff0008 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
    text-align: center;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-juego {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/fondoDePagina3.jpg);
    background-color: #0e0d0d;
    height: 500px;
    background-size: 2000px 600px;
}
#encabezado {
    margin: 30px 0;
    color: white;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: rgb(90, 87, 87);
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.contenido-hero {
    margin-top: 80px;
    color: rgb(255, 255, 255);
    font-size: x-large;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #f12d2d; /* Old browsers */
    background: linear-gradient(to right, #0059ff 0%,#ce049b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: rgb(0, 0, 0);
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}
.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-juegos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}

.card {
    height: 500px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background: rgba(146, 191, 209, 0.527);
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
#detalles {
    height: 20px;
}
.card img {
    height: 300px;
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
    color: black;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
    color: gray;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    color: black
}


.footer {
    width: 1900px;
    padding-top: 80px;
    padding-bottom: 50px;
    font-style: italic;
    font-size: medium;
    background-color: rgba(138, 134, 132, 0.329);
    color: rgb(0, 0, 0);
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    list-style: none;
    transition: all 3s ease;
    border-top: 3px solid white;
}

.footer .caja h2{
    padding-right: 25px;
}

.footer:hover {
    margin-left: 10px;
    width: 99%;
    height: 300px;
    border-bottom: 3px solid white;
    border-top: 3px solid transparent;
    color: white;
    font-family: "Bangers", cursive;
    background-color: #0e0d0d;
    transition: all 3s ease;
  }
  
  .caja {
    display: flex;
    justify-content: space-around;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    list-style: none;
    text-decoration: none;
    list-style: none;
  }
  .caja ul {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  
  .medias {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
  }
  
  .redes {
    align-items: bottom;
    width: 50px;
    height: 50px;
  }
  
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-top: 20px;
  }



  #listaDePaginas1 {
    margin-left: 165px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    letter-spacing: 40px;
    padding: 1em;
    text-decoration: none;
    list-style: none;
  }
  #listaDePaginas1 a {
    width: 100%;
    letter-spacing: 15px;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family: cursive;
    margin-left: 20px;
  }
  #listaDePaginas1 a:hover {
    -webkit-text-decoration: wavy;
            text-decoration: wavy;
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: "Orbitron", sans-serif;
  }

  #listaDePaginas2 {
    margin-left: 165px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    letter-spacing: 40px;
    padding: 1em;
    padding-left: 35rem;
    text-decoration: none;
    list-style: none;
  }
  #listaDePaginas2 a {
    width: 100%;
    letter-spacing: 15px;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family: cursive;
    margin-left: 20px;
  }
  #listaDePaginas2 a:hover {
    -webkit-text-decoration: wavy;
            text-decoration: wavy;
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: "Orbitron", sans-serif;
  }